# Generic document files
*.doc
*.docx

# Generic data files
*.csv
*.xls
*.xlsx

# Generic presentation files
*.pdf
*.ppt
*.pptx

# Generic image files
*.png
*.jpg
*.jpeg

# Generic compressed files
*.rar
*.zip

# Generic shortcut files
*.url
*.lnk
